sed: --: No such file or directory
#cloud-config
hostname: {{ bastion_name | quote }}
manage_etc_hosts: true

users:
  - name: {{ bastion_user }}
    groups: [sudo]
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - {{ bastion_public_key | quote }}

disable_root: true
ssh_pwauth: false
package_update: false
package_upgrade: false

write_files:
  - path: /etc/ssh/sshd_config.d/99-nkp-hardening.conf
    owner: root:root
    permissions: "0644"
    content: |
      PermitRootLogin no
      PasswordAuthentication no
      PubkeyAuthentication yes
      X11Forwarding no
      MaxAuthTries 3

runcmd:
  - [timedatectl, set-timezone, UTC]
  - [systemctl, restart, ssh]

final_message: "NKP bastion cloud-init complete after $UPTIME seconds"

